body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
  }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
  }
  
.container--header {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    align-items: center;
  }

.container--hero {
    padding-top: 200px;
    margin: 0 auto;
  }

.container--advantages {
    margin-bottom: 94px;
  }

.container--footer {
    display: flex;
    padding-top: 60px;
  }

ul {
    list-style: none;
  }
  
 